<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><b>Access Token:</b> <%= accessToken %></p>
    <p><b>Cookie:</b> <%= cookie %></p>
    <p><b>Curl Example: </b> <%= example %></p>
    <p>Please logout here: <a href="/logout">logout</a></p>
  </body>
</html>
